:host {
    width: 300px;
    margin-right: 76px;
    z-index: 2;
}
h1{
    text-align: center;
    margin-left: 40px;
}
header{
    width: 100%;
    height: 100px;
    text-align: center;

   
    
}
.active-nav{
    border-left: 2px solid red;
    background-color: rgba(165, 165, 165, 0.541);
}
