<article>
    <mat-card>
        <img src="https://www.iafricaltd.com/images/pr%20buzz.jpg" alt="how-we-make-it-happen image">
        <section>
            <h2 class="mat-headline-3">Public Relations</h2>
            <div class="text">
                <p>
                    Any Company’s social responsibility is:
                </p>
                <ul>
                    <li>To give back to the community</li>
                    <li>Keep customers satisfied and happy</li>
                    <li>Project itself positively</li>
                    <li>Communicate relevantly</li>
                    <li>Care about governance and Environment</li>
                </ul>
                <p>
                    At Impact Africa we specializein guiding your PR activities to help you achieve the necessary impact
                </p>
            </div>
        </section>
        <iafrica-navbar></iafrica-navbar>
    </mat-card>
</article>