<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <header>
      <h1 class="mat-headline-4">Impact Africa Ltd</h1>
  </header>
    <iafrica-navbar></iafrica-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>iafrica-ltd</span>
    </mat-toolbar>
    <main>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb mat-headline-5">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      <router-outlet></router-outlet>
      <iafrica-footer></iafrica-footer>
  </main>
  </mat-sidenav-content>
</mat-sidenav-container>
