
h2{
    text-align: center;
    font-family: "Merriweather", serif !important;
    color: red !important;
    text-decoration: underline !important;
}
section{
    display: flex;

}
img{
    background-color: red;
    padding: 30px;
    border: 2px solid black;
}
p{
    font-size: 14pt;
    
}
mat-card{
    padding: 30px;
}