<article>
   

   <mat-card>
    <section>
        <div class="text">
            <h2 class="mat-headline-3">About Us</h2>
            <p> Impact Africa was incorporated in Rwanda in 2005. It is based at Kimihurura in Kigali. It has
                offices/affiliates in Rwanda, Tanzania, Kenya, Congo DRC, Congo Brazzaville, Ethiopia, Uganda, Burundi and
                South Sudan. Impact Africa develops a strategic partnership with its clients to create solutions. We do this
                by getting to know you, your competition and your business problems and opportunities. We listen. We
                research. We learn. We develop a strategy upon which you and Impact Africa can agree. A guide to follow
                throughout each phase of creative development. This way, we’re all assured we’re headed in the right
                direction. We communicate with you. So we can communicate for you. It’s this disciplined way of approaching
                our craft that gives your advertising the opportunity to succeed.</p>
            <p>
                With our expertise in implementing initiatives in such a wide range of media, our clients are uniquely
                positioned to attain the results they desire. Impact Africa gives flight to the initiatives of marketers in
                a variety of industries, including financial services, hospitality, technology, healthcare, publishing,
                consumer packaged goods, fashion, beverage and many others. Below is some of the media through which Impact
                Africa has created solutions for a number of our valued Client partners: Advertising, Radio and Television,
                Packaging, Direct Response, Outdoor , Collateral, PR , Experiential Marketing, Translations , Market
                Research, Event Management
            </p>
        </div>
        <img src="https://www.iafricaltd.com/images/102.png" alt="about us image">
    </section>
   </mat-card>
</article>